body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Cardo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Arial, Helvetica, sans-serif;
}
