.crime-container {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
  }
  
  .crime-container .crime, .crime-container .crimeResults {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-evenly;
    line-height:0; 
  }
  
  .crimeResults .text_general_code, .crime-header, .header-lg {
    flex: 1 0 50%;
  }

  .crime .header, .crimeResults .crime_count, .crimeResults .crimes_per_1000_pop {
    flex: 1 0 25%;
  }

  .jumbotron {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  