.home-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 25px;
}

.home-container .home {
  display: flex;
  white-space: nowrap;
  align-items: center;
  height: 30px;

}

.selectedZipInfo .purchase_price, .headers .header {
  flex: 1 0 33%;
}

.jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
}

.total-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 25px;
}

.total-container .total, .total-container .results {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: space-evenly;
  line-height:0; 
}

.topZipsResults .zipcode, .topZipsResults .price, .topZipsResults .safety_score, .topZipsResults .school_avg, .headers .header {
  flex: 1 0 25%;
}

.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers, .results-container .results {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: space-evenly;
  line-height:0; 
}