.topnav {
    background-color: #3994f5;
    overflow: hidden;
    color: #FFFFFF
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Change the color of links on hover */
.topnav-right a:hover {
  color: #62a6ee;
  background-color: #FFFFFF;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #62a6ee;
    color: #FFFFFF;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}