.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
    text-align: left;
  /* margin-top: 10px; */
}

.school-container {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
  }



.headers .header1 { height: auto; width: 200px; margin-bottom:20px; font-size: small; text-align: left;}
.headers .header2 { height: auto; width: 200px; margin-bottom:20px; font-size: small; text-align: left;}
.headers .header3 { height: auto; width: 100px; margin-bottom:20px; font-size: small; text-align: left;}
.headers .header4 { height: auto; width: 100px; margin-bottom:20px; font-size: small; text-align: left;}
.headers .header5 { height: auto; width: 100px; margin-bottom:20px; font-size: small; text-align: left;}
.headers .header6 { height: auto; width: 100px; margin-bottom:20px; font-size: small; text-align: left;}
.headers .header7 { height: auto; width: 125px; margin-bottom:20px; font-size: small; text-align: left;}

.schoolResults .school_name {
    width: 200px;
  height: auto;
  font-size: large;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom:20px;
}
.schoolResults .website {
    width: 200px;
  height: auto;
  flex-wrap: wrap;
  font-size: large;
  text-align: left;
  margin-bottom:20px;
  margin-left: 23px;
}
.schoolResults .overall_score {
    width: 133px;
  height: auto;
  font-size: small;
  text-align: left;
  margin-bottom:20px;
  margin-left: 23px;
}
.schoolResults .overall_city_rank {
    width: 133px;
  height: auto;
  font-size: small;
  text-align: left;
  margin-bottom:20px;
  margin-left: 23px;
}
.schoolResults .prog_score {
    width: 133px;
  height: auto;
  font-size: small;
  text-align: left;
  margin-bottom:20px;
  margin-left: 23px;
}
.schoolResults .admissions_category {
    width: 133px;
  height: auto;
  font-size: small;
  text-align: left;
  margin-bottom:20px;
  margin-left: 23px;
}
