.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  /* margin-top: 10px; */
}

.results-container .schoolResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1px;
  padding-left: 1px;
  justify-content: space-around;
  line-height:0; 
}

.school-container {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
  }



.headers .header { height: auto; width: 200px; margin-bottom:20px; font-size: small; text-align: left;}


.schoolResults .school_name, .schoolResults .website, .schoolResults .overall_score, .schoolResults .city_rank, .schoolResults .program_score, .schoolResults .admission_category {
  height: auto;
  font-size: large;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom:20px;
}


