.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.results-container .restaurantResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: left;
  text-align: left;
  height: auto;
}


.header-container .headers {
  display: flex;
  flex-flow: row nowrap;
  align-items: left;
  text-align: left;
  height: auto;
}

.headers .header1 { height: auto; width: 150px; margin-bottom:20px; font-size: small; text-align: left;}
.headers .header2 { height: auto; width: 130px; margin-bottom:20px; font-size: small; text-align: center;}
.headers .header3 { height: auto; width: 110px; margin-bottom:20px; font-size: small; text-align: center;}
.headers .header4 { height: auto; width: 500px; margin-bottom:20px; font-size: small; text-align: left;}

.restaurantResults .Name, .restaurantResults .Address {
	 width: 150px;
   height: auto;
   font-size: small;
   text-align: center;
   margin-bottom:20px;
}

.restaurantResults .Rating {
   width: 100px;
   height: auto;
   font-size: small;
   text-align: center;
   margin-bottom:20px;
}

.restaurantResults .Review{
	 width: 450px;
   height: auto;
   font-size: small;
   margin-bottom:20px;
}

