.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.header-container .headers, .results-container .restaurantResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.restaurantResults .Name, .restaurantResults .Address, .restaurantResults .Rating, .restaurantResults .Review, .headers .header {
  flex: 1 0 25%;
}